
@using Vidly.Models
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    @* https://stackoverflow.com/questions/25377637/datatables-cannot-read-property-mdata-of-undefined

        Error: Cannot read property 'mData' of undefined
        Solution: FYI dataTables requires a well formed table. It must contain <thead> and <tbody> tags, otherwise it throws this error.
        Also check to make sure all your rows including header row have the same number of columns.
    *@
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
       
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {

            //**Important : below datatable is used instead of razor syntax earlier, 
            //if there is huge data and jquery will need to remember & parse large DOM
            //gets PERFORMANCE BOOST if there is large data, since server does not return 
            //HTML tags when used with tag helpers, it simply
            //returns JSON using API

            //provide configuration object as input to datatable function, to integrate with ajax
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    //this attribute is used if data source object is nested inside returned object
                    //in our case data is not nested in json. hence blank.
                    dataSrc: ""
                },
                columns: [
                    {
                        //data: which column to refer to for data of this column
                        data: "name",
                        render: function (data, type, customer) {

                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "<\a>";

                        }

                    },
                    //for membership name
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    }
                    ]

            });

            //$("#customers .js-delete").on("click",
            //optimized above line - to avoid keeping the functions in memory e.g. if there are 15 rows, there will be 15 functions in memory
            $("#customers").on("click", ".js-delete",
                function () {

                    var deleteButton = $(this);

                    //if (confirm("Are you sure you want to delete this customer?")) {
                    //use bootbox library, which is abstraction on top of bootstrap to show better dialog boxes
                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    /*gets the data-customer-id attribute's value from current button*/
                                    url: "/api/customers/" + deleteButton.attr("data-customer-id"),
                                    //HTTP method
                                    method: "DELETE",
                                    success: function () {
                                        //console.log("Success");
                                        //this code does not delete record from datatable's list. 
                                        //You can search on deleted records and they are found.
                                        //deleteButton.parents("tr").remove();

                                        table.row(deleteButton.parents("tr")).remove().draw();

                                    }

                                });
                            }
                        });
                });

        });

    </script>
}

